@use '../../../toolbox/styles/_theme'

.button
    &_black
      width: 100%
      height: 100%
      padding: 16px 40px
      font-weight: 700
      position: relative
      white-space: nowrap
      font-size: 20px
      line-height: 24px
      height: 64px
      z-index: theme.$zIndex-1
      font-family: theme.$font-primary
      background: theme.$color-primary
      outline: none
      display: flex
      align-items: center
      justify-content: center
      color: theme.$color-white
      border: none
      text-decoration: none
      border-radius: 40px
      vertical-align: middle
      touch-action: manipulation
      transition: background-color 0.2s, color 0.2s
      cursor: pointer
      overflow: hidden
      
      &:hover
        background-color: theme.$color-white
        color: theme.$color-primary
        border: 2px solid theme.$color-primary

      &::before
        content: ''
        position: absolute
        width: 0
        height: 0
        background-color: theme.$color-white
        border-radius: 50%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: width 0.2s, height 0.2s
        z-index: -1

      &:hover::before
        width: 195px
        height: 195px
        
      @media screen and (min-width: theme.$breakpoint-sm)
        width: 195px
        &:hover::before
          width: 195px
          height: 195px
    &_red
      border-radius: 32px
      border: none
      background-color: theme.$color-red
      width: 100%
      padding: 14px 0
      color: theme.$color-white
      font-family: theme.$font-primary
      font-size: 18px
      font-weight: 700
      line-height: 20px
      letter-spacing: 0.5px
      text-align: center
      cursor: pointer
      &:hover
        opacity: 0.7

  